---
layout: default
title: SouFii.
metakey: Ran Aizen,网络技术,SouFii,Blog,JavaScript,Node.js,个人博客
metades: Ran Aizen的个人博客，记录web和linux
---

<h1>最新文章</h1>
{% for post in site.posts limit:5 %}
	<div class="hero-unit">
		<h2>{{ post.title }}</h2>
		<p>{{ post.excerpt }}</p>
	</div>
	<div class="pull-right">
	{{ post.date | date_to_long_string }} | <span class="label {{ post.kind }}">{{ post.label }}</span>
	</div>
	<p>
	<a href="{{site.url}}{{post.url}}" class="btn btn-primary btn-large">浏览全文</a>
	</p>
	{% if forloop.index != 5 %}
		<hr>
	{% endif %}
	<br>
{% endfor %}

