---
title: The Little JavaScript Book
author: Ran Aizen
info: HIT, Software Engineering
metakey: 
metades: 
---

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{site.url}}/source/style/style.css">
	<title>{{page.title}}</title>
</head>
<body>
	<div class="block 3">
		<h2 class="center">{{ page.title }}</h2>
		<p class="center">{{ page.author }},</p>
		<p class="center">{{ page.info }},</p>
		<p class="center">@<a href="https://github.com/abbshr">github</a></p>
	</div>

{% for jscool in site.posts %}
	{% if jscool.ptr == "JavaScript" %}
	<div class="block {{ forloop.index0 }}">
		<a href="{{site.url}}{{jscool.url}}"><h2 class="center">{{ jscool.title }}</h2></a>
		<p>{{ jscool.excerpt }}</p>
	</div>
	{% endif %}
{% endfor %}
</body>
</html>