body {
	background: #FFF;
	font-size: 25px;
	font-family: "Gibson", "Helvetica Neue", "Helvetica-Neue", helvetica, sans-serif;
	border-top: 5px #d35c6f solid;
    margin: 0;
    padding: 0;
}

::selection {
  background: rgb(192, 96, 96);
  color: rgb(41, 49, 54);
}

h1 {
	font-size: 70px;
	font-weight: normal;
	margin: 0;
    font-family: "Gibson", "Helvetica Neue", "Helvetica-Neue", helvetica, sans-serif;
    color: #000;
	line-height: 1;
	padding-right: 200px;
  	padding-left: 200px;
}

h2 {
	font-size: 60px;
	font-weight: normal;
	margin: 0;
	color: #d35c6f;
    font-family: "Gibson", "Helvetica Neue", "Helvetica-Neue", helvetica, sans-serif;
    padding-right: 200px;
  	padding-left: 200px;
}

h3 {
	font-size: 40px;
	font-weight: normal;
	font-family: "Gibson", "Helvetica Neue", "Helvetica-Neue", helvetica, sans-serif;
	margin: 0;
    margin-top: 40px;
    color: #d35c6f;
	padding-right: 200px;
  	padding-left: 200px;
}

h4 {
	font-size: 30px;
	font-weight: normal;
	font-family: "Gibson", "Helvetica Neue", "Helvetica-Neue", helvetica, sans-serif;
	margin: 0;
    margin-top: 40px;
    color: #d35c6f;
	padding-right: 200px;
  	padding-left: 200px;
}

p {
	width: 960px;
	margin: 40px auto;
	color: #000;
    line-height: 200%;
    font-family: "Gibson", "Helvetica Neue", "Helvetica-Neue", helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    transition:color 0.6s linear,text-shadow 0.6s linear;
    -moz-transition:color 0.6s linear, text-shadow 0.6s linear;
    -webkit-transition:color 0.6s linear, text-shadow 0.6s linear;
}

a:hover {
    color: #d35c6f;
    text-shadow: 0px 0px 5px #d35c6f;
}

p a {
    color: #d35c6f;
    text-decoration: none;
    transition:color 0.6s linear,text-shadow 0.6s linear;
    -moz-transition:color 0.6s linear, text-shadow 0.6s linear;
    -webkit-transition:color 0.6s linear, text-shadow 0.6s linear;
}

ul {
	list-style: none;
	padding-right: 200px;
  	padding-left: 200px;
}

ol {
	padding-right: 200px;
  	padding-left: 200px;
}

pre {
	background-color: #46483e;
	border-radius: 0px;
	font-size: 18px;
	color: #D8BABA;
    padding: 5px 15px;
    font-family: consolas, monospace;
    padding-right: 20%;
  	padding-left: 20%;
  	overflow: auto;
}

blockquote {
	width: 1000px;
	margin: 10px auto;
	background: #fff;
	border: solid 2px #d35c6f;
	padding: 0 40px;
}

code { 
    border-radius: 10px;
    color: #D8BABA;
    font-family: consolas, monospace;
}

label {
	background-color: #D8D8D8;
	font-size: 13px;
    border-radius: 15px;
    color: #000;
    padding: 5px 15px;
}

nav {
	color: #000;
}

.center {
	text-align: center;
}

.block {
	position: relative;
	margin: 0;
	width: 100%;
    color: #000;
    padding-top: 80px;
    padding-bottom: 80px;
}

.block[class$="1"]{background-color: #348fd4;}  
.block[class$="1"] a{
    color: #06406c; 
    transition:color 0.6s linear,text-shadow 0.6s linear;
    -moz-transition:color 0.6s linear, text-shadow 0.6s linear;
    -webkit-transition:color 0.6s linear, text-shadow 0.6s linear;
}
.block[class$="1"] a:hover{
    color: #06406c;
    text-shadow: 0px 0px 5px #06406c;
}
.block[class$="1"] p{color: #06406c;}

.block[class$="2"]{background-color: #06406c;}  
.block[class$="2"] a{
    color: #FFF;
    transition:color 0.6s linear,text-shadow 0.6s linear;
    -moz-transition:color 0.6s linear, text-shadow 0.6s linear;
    -webkit-transition:color 0.6s linear, text-shadow 0.6s linear;
}  
.block[class$="2"] a:hover{
    color: #FFF;
    text-shadow: 0px 0px 5px #FFF;
}
.block[class$="2"] p{color: #FFF}

.block[class$="3"]{background-color: #FFF;}  	
.block[class$="3"] a{
    color: #000;
    transition:color 0.6s linear,text-shadow 0.6s linear;
    -moz-transition:color 0.6s linear, text-shadow 0.6s linear;
    -webkit-transition:color 0.6s linear, text-shadow 0.6s linear;
}
.block[class$="3"] a:hover{
    color: #000;
    text-shadow: 0px 0px 5px #000;
}  
.block[class$="3"] p{color: #000;}

.block[class$="4"]{background-color: #4c0d09;}  
.block[class$="4"] a{
    color: #d3b2af;
    transition:color 0.6s linear,text-shadow 0.6s linear;
    -moz-transition:color 0.6s linear, text-shadow 0.6s linear;
    -webkit-transition:color 0.6s linear, text-shadow 0.6s linear;
}  
.block[class$="4"] a:hover{
    color: #d3b2af;
    text-shadow: 0px 0px 5px #d3b2af;
}
.block[class$="4"] p{color: #d3b2af;}

.block[class$="5"]{background-color: #cc4037;}  
.block[class$="5"] a{
    color: #4c0d09;
    transition:color 0.6s linear,text-shadow 0.6s linear;
    -moz-transition:color 0.6s linear, text-shadow 0.6s linear;
    -webkit-transition:color 0.6s linear, text-shadow 0.6s linear;
}  
.block[class$="5"] a:hover{
    color: #4c0d09;
    text-shadow: 0px 0px 5px #4c0d09;
}
.block[class$="5"] p{color: #4c0d09;}

.block[class$="6"]{background-color: #ffc19f;}  
.block[class$="6"] a{
    color: #cc4037;
    transition:color 0.6s linear,text-shadow 0.6s linear;
    -moz-transition:color 0.6s linear, text-shadow 0.6s linear;
    -webkit-transition:color 0.6s linear, text-shadow 0.6s linear;
}  
.block[class$="6"] a:hover{
    color: #cc4037;
    text-shadow: 0px 0px 5px #cc4037;
}
.block[class$="6"] p{color: #cc4037;}

.block[class$="7"]{background-color: #000;}     
.block[class$="7"] a{
    color: #FFF;
    transition:color 0.6s linear,text-shadow 0.6s linear;
    -moz-transition:color 0.6s linear, text-shadow 0.6s linear;
    -webkit-transition:color 0.6s linear, text-shadow 0.6s linear;
}  
.block[class$="7"] a:hover{
    color: #FFF;
    text-shadow: 0px 0px 5px #FFF;
}
.block[class$="7"] p{color: #FFF;}

.block[class$="8"]{background-color: #F2F2F2;}  
.block[class$="8"] a{
    color: #666;
    transition:color 0.6s linear,text-shadow 0.6s linear;
    -moz-transition:color 0.6s linear, text-shadow 0.6s linear;
    -webkit-transition:color 0.6s linear, text-shadow 0.6s linear;
}  
.block[class$="8"] a:hover{
    color: #666;
    text-shadow: 0px 0px 5px #666;
}
.block[class$="8"] p{color: #666;}

.block[class$="9"]{background-color: #64ABEC;}  
.block[class$="9"] a{
    color: #06406c;
    transition:color 0.6s linear,text-shadow 0.6s linear;
    -moz-transition:color 0.6s linear, text-shadow 0.6s linear;
    -webkit-transition:color 0.6s linear, text-shadow 0.6s linear;
}  
.block[class$="9"] a:hover{
    color: #06406c;
    text-shadow: 0px 0px 5px #06406c;
}
.block[class$="9"] p{color: #000;}

.block[class$="0"]{background-color: #fff8c9;}  
.block[class$="0"] a{
    color: #2d2700;
    transition:color 0.6s linear,text-shadow 0.6s linear;
    -moz-transition:color 0.6s linear, text-shadow 0.6s linear;
    -webkit-transition:color 0.6s linear, text-shadow 0.6s linear;
}  
.block[class$="0"] a:hover{
    color: #2d2700;
    text-shadow: 0px 0px 5px #2d2700;
}
.block[class$="0"] p{color: #615400;}

.feedback {
	width: 960px;
	margin: 40px auto;	
}