<meta content="text/html; charset=utf-8" />
<meta name="google-site-verification" content="vtiSJkn4pJZdAd6PkpGxwKFQOIlbeAezV18NbZjaOuw" />
<meta name="Keywords" content="{{page.metakey}}">
<meta name="description" content="{{page.metades}}">
<link rel="shortcut icon" href="{{site.url}}/favicon.ico" type="image/x-icon"/>
<link rel="Bookmark" href="{{site.url}}/favicon.ico">
<link rel="stylesheet" type="text/css" href="./style.css">
<!--
	<link rel="stylesheet" href="{{site.url}}/source/style/bootstrap.css" />
	<link href="{{site.url}}/source/style/bootstrap-responsive.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{{site.url}}/source/style/googlestyle.css" />
-->
<title>{{ page.title }}</title>
</style>
