<!--
	<div class="container">
	<div class="row">
	<div class="span8 offset2">
	<div class="navbar navbar-inverse">
	<div class="navbar navbar-inner">
-->
<div class="block">
	<h1 class="center">
		<a href="{{site.baseurl}}">Ran Aizen 2013</a>
	</h1>
	<nav class="center">
		<a href="{{site.url}}/codelib">Project</a>
		<a href="{{site.url}}/archive">Articles</a>
		<a href="">Ran</a>
		<a href="{{site.url}}/cool">Cool</a>
		<a href="{{site.url}}/gist">Gist</a>
		<a href="{{site.url}}/todolist">TodoList</a>
		<a href="{{site.url}}/tools">原料箱</a>
		<a href="{{site.url}}/jscool">JS</a>
		<a href="{{site.url}}/feedback">FeedBack</a>
	</nav>
</div>