
<div class="container">
<div class="row">
<div class="span8 offset2">
<div class="navbar navbar-inverse">
<div class="navbar navbar-inner">
<a class="brand" href="{{site.baseurl}}">Ran Blog</a>
<ul class="nav">
<li><a href="{{site.url}}/codelib">作品</a></li>
<li><a href="{{site.url}}/archive">文章归档</a></li>
<li><a href="#myprofile" data-toggle="modal">me</a></li>
<li><a href="{{site.url}}/cool">cool</a></li>
<li><a href="{{site.url}}/gist">Gist</a></li>
<li><a href="{{site.url}}/todolist">todoList</a></li>
<li><a href="{{site.url}}/tools">原料箱</a></li>
<li><a href="{{site.url}}/jscool">JS</a></li>
<li><a href="{{site.url}}/feedback">Feed</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
