<!--
	<div class="container">
	<div class="row">
	<div class="span8 offset2">
	<div class="navbar navbar-inverse">
	<div class="navbar navbar-inner">
	<a href="{{site.url}}/gist">Gist</a>
-->
<div class="block">
	<h1 class="center">
		<a href="{{site.baseurl}}">{{ page.title }}</a>
	</h1>
	<nav class="center">
		<a href="{{site.url}}/codelib">Project</a>
		<a href="{{site.url}}/archive">Articles</a>
		<a href="{{site.url}}/codelib/about.html">Ran</a>
		<a href="{{site.url}}/todolist">TodoList</a>
		<a href="{{site.url}}/jscool">little book</a>
		<a href="{{site.url}}/feedback">FeedBack</a>
	</nav>
</div>