<div class="block 7">
<pre>
var me = JSON.stringify({
    name: 'Ran.Aizen',
    age: Number(new Date().getFullYear()) - 1993,
    collage: "HIT",
    hobbies: ['math', 'coding', 'eating', 'playing'],
    github: 'abbshr',
    maincodlang: 'JavaScript',
    platform: ['Node.js', 'Chromium'],
    database: {
    	NoSQL: 'MongoDB',
    	SQL: null
	},
    hate: ['debuging', 'much-humanbeing'],
	nick: ['Krthugade', 'abbshr', 'SouFii']
});
</pre>
</div>
<div class="center block 6">
    <a href="mailto:abbshr@outlook.com">@mailMe</a>
</div>