<!DOCTYPE html>

<html>
<head>
{% include header.html %}
</head>
<body>
{% include navbar.html %}

<div class="block {{ page.date | date_to_string }}">
  <h3 class="center">	
  	{{ page.date | date_to_string }}
  </h3>
  {{ content }}
</div>

<div class="block">
{% if page.label %}
	<p class="center">标签：{{ page.label }}</p>
{% endif %}
	<p class="center">发布时间：{{ page.date | date_to_string }}</p>
{% if page.mdmark == "ran" %}
	<p class="center">Ran.Aizen原创</p>
{% endif %}
</div>

{% if page.ptr == "JavaScript" %}
<ul>
	<li class=""><a>更多的JavaScript酷玩系列</a></li>
{% for other in site.posts %}
	{% if other.ptr == "JavaScript" %}
		{% if other.url != page.url %}
	<li><a href="{{site.url}}{{other.url}}">{{other.title}}</a></li>
		{% endif %}
	{% endif %}
{% endfor %}
</ul>
{% endif %}

<div class="feedback">
	<style>
	.ds-sort {
	  display:none;
	}
	.ds-powered-by {
		display:none;
	}
	.ds-sync {
		display:none;
	}
	</style>
	
	<div class="ds-thread"></div>
	<script type="text/javascript">
		var duoshuoQuery = {short_name:"abbshr"};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';ds.async = true;
			ds.src = 'http://static.duoshuo.com/embed.js';
			ds.charset = 'UTF-8';
			document.getElementsByTagName('body')[0].appendChild(ds);
		})();
	</script>
</div>

{% include footer.html %}
</body>
</html>
